{% load static wagtailcore_tags wagtailimages_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Cultur'all{% endblock %}</title>
  {% block meta %}
  <meta name="description" content="Cultur'all — Site vitrine">
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'js/site.js' %}" defer></script>
</head>
<body>
  {% include "_header.html" %}

  {% block content %}{% endblock %}

  {% include "_footer.html" %}
</body>
</html>
